.flex {
	display: flex;
}
.spaced-page {
	gap: 1%;
}
.center {
	justify-content: center;
}
.space-between {
	justify-content: space-between;
}
.row {
	flex-direction: row;
}
.full-h {
	height: 100vh;
}
.full-w {
	width: 100%;
}
